<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class = "navbar navbar-fixed-top" >
		<div class="navbar-inner">
			<div class="container">
				<%= link_to 'GoodQuestion', root_path, id: 'logo' %>
				<nav>
					<ul class="nav pull-right">
						<li>
							<%= render 'common/search_form' %>
						</li>
						<li>
							<%= link_to 'Home', root_path %>
						</li>
						<% if logged_in? %>
							<li>
								<%= link_to "Your Q's", your_questions_path %>
							</li>
							<li>
								<%= link_to "Logout", logout_path, method: 'delete' %>
							</li>
						<% else %>
							<li>
								<%= link_to 'Register', register_path %>
							</li>
							<li>
								<%= link_to 'Login', login_path %>
							</li>
						<% end %>
					</ul>
				</nav><!-- end nav -->
			</div>
		</div>
	</header>

	<div class="container">
		<div class="main-content">
			<div>
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			</div>
			<%= yield %>
		</div>
		<footer>
			&copy; GoodQuestion <%= Date.today.year %>
		</footer><!-- end footer -->
	</div><!-- end content -->
</body>
</html>
